.manual
  %h2 操作説明

  %table
    %tr
      %th h,j,k,l
      %td ←,↓,↑,→
    %tr
      %th w
      %td 次の単語の先頭にとぶ
    %tr
      %th b
      %td 前の単語の先頭にとぶ
    %tr
      %th e
      %td 次の単語の末尾にとぶ
    %tr
      %th 0
      %td カーソルの行の先頭にとぶ
    %tr
      %th ^
      %td カーソルの行の先頭の単語にとぶ
    %tr
      %th $
      %td カーソルの行の末尾にとぶ
    %tr
      %th gg
      %td 一番先頭にとぶ
    %tr
      %th G
      %td 一番最後にとぶ
    %tr
      %th 12G
      %td 12行目にとぶ
