.user_ui
  #startbutton
    %p START! 
  #score
    %p{id: "score"}
      score:0
  #timer
    %p{id: "timer"}
      time:120 
  #restart
    %a{href: "javascript:location.reload();"} やり直す
  #startpop
    %p{id: "startpop__count"} 
  #score_show

