.contents
  .left
    .info
      = render 'explain'
      = render 'description'
  .center
    .game_screen
      = render 'user_ui'
      = render 'play'
#score_show
= javascript_include_tag "game.js"
= javascript_include_tag "cursor.js"
