
.manual{
  @extend .box_layout_a;
  h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  table{
    margin: 0 auto;
  }

  td, th{
    padding:5px;
  }

  td{
    background-color:$aliceblue;
  }

  th{
    background-color:$khaki;
  }

}
