
.var{
  height:20px;
  background: linear-gradient(to bottom, $silver, $gray);
  text-align :center;
}

.play{
  background-color: black;
  height:680px;
  width:100%;

  .var{
    height:20px;
    background: linear-gradient(to bottom, $silver, $gray);
    text-align :center;
  }
}

.vimscreen{
  position: relative;
  
  pre{
    font-family: "Courier New", Consolas, monospace ;
    color: white;
    font-size: 20px;

    span{
      color: red;
    }
  }
}
/*カーソル表示css*/
.cursor{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0;
  border: 1px solid green;
  width: 10px; 
  height: 18px;
  animation: cursor 0.5s ease-in-out -2s infinite alternate;
  
}

@keyframes cursor{
  0%{ background-color: rgba( 0, 255, 0, 0.2);}
  100%{ background-color: rgba( 0, 255, 0, 0.7);}
}
