.user_ui{
  position:relative;
  background-color: $aliceblue;
  height:100px;
  width:100%;
}

#startbutton{
  @extend .prety_en;
  float: left;
  width: 100px;
  height: 100px;
  background-color: $cornflowerblue;
  cursor: pointer;

  p{
    line-height:100px;
    text-align: center; 
  }
}

#restart{
  @extend .prety_en;
    float: left;
    width: 100px;
    height: 100px;
    background-color: $moccasin;
    text-align: center;

    a{
      display:inline-block;
      line-height: 100px;
    }
}

#startpop{
  @extend .prety_en;
  background-color: $aquamarine;
  position: absolute;
  top:0;
  left:400px;
  width: 100px;
  height: 100px;
  display:none;

  p{
    line-height: 100px;
    text-align: center;
  }

}

#score{
  @extend .prety_en;
  background-color: $khaki;
  float: left;
  width:100px;
  p{
    line-height: 100px;
    text-align:center;
  }
}

#timer{
  @extend .prety_en;
  background-color: $pink;
  float: left;
  width:100px;
  p{
    line-height: 100px;
    text-align:center;
  }
}

#score_show_bg{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

#score_show{
  @extend .prety_en;
  display:none;
  position: fixed;
  z-index: 2;
  width:400px;
  height:400px;
  background-color: $aquamarine;
  text-align: center;
  p{
    margin: 50px auto;
    font-size:36px;
  }
  
  #close_score{
    @extend .prety_en;
    background-color: $khaki;
    width: 300px;
    margin-top: 150px;
    display: block;
    cursor : pointer;
  }



}
