body{
  overflow: hidden;

}

.contents{
  z-index:0;
  width:100%;
  height:800px;
}

.left{
  background-color: $lightskyblue; 
  float: left;
  width: 30%;
  height: 100%;
}


.center{
  background-color: $aliceblue;
  float: left;
  width: 70%;
  height: 100%;
  .game_screen{
    margin: 0px 12px;
  }
    
}


.footer{
  height:100px;
  background-color: $skyblue;

}
