$aliceblue: #f0f8ff;
$gray: #808080;
$skyblue: #87ceeb;
$silver: #c0c0c0;
$lightskyblue: #add8e6;
$cornflowerblue: #6495ed;
$pink: #ffc0cb;
$khaki: #f0e68c;
$aquamarine: #7fffd4;
$ghostwhite: #f8f8ff;
$moccasin: #ffe4b5;
