.contents
  .p  
    = @stage.name
  .forms
    = form_for(@stage) do |f|
      = f.label :name
      = f.text_field :name

      = f.label :level
      = f.text_field :level

      = f.label :code
      = f.text_area :code

      = f.submit "Update Stage!"

