.contents
  .left
    .info
      = render '/static_pages/explain'
      = render 'static_pages/description'
  .center
    .game_screen
      = render 'static_pages/user_ui'
      = render 'static_pages/play'
#score_show
= javascript_include_tag "game.js"
= javascript_include_tag "cursor.js"
